---
import profile from '/images/profile.png'
import baground from '/images/baground.jpg'
import 'remixicon/fonts/remixicon.css'
import sosialLinks from '../data/sosialLinks'
import project from '../data/project'
import frontend from '../data/frontend'
import backend from '../data/backend'
import messege from '../data/messege'
import birthday from '../data/birthday'
---

<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <link rel='icon' type='image/svg+xml' href='' />
        <meta name='viewport' content='width=device-width' />
        <meta name='generator' content={Astro.generator} />
        <title>Profile</title>
    </head>
    <body>
        <main
            class='max-w-3xl w-screen mx-auto py-1 flex flex-col items-stretch justify-center'>
            <div
                class='relative flex md:h-64 w-full justify-center rounded-xl bg-cover h-44 px-1 md:px-4'>
                <img
                    src={baground}
                    class='flex h-full w-full justify-center rounded-xl bg-cover'
                />
                <div
                    class='absolute -bottom-12 flex h-[125px] w-[125px] items-center justify-center rounded-full border-[12px] border-white dark:!border-navy-700'>
                    <img
                        class='h-full w-full rounded-full ring-4 ring-offset-4 ring-sky-500'
                        src={profile}
                        alt=''
                    />
                </div>
            </div>
            <div class='flex text-slate-800 flex-col items-center mt-16'>
                <h1 class='text-2xl font-semibold'>Zainur Romzy</h1>
                <p>Collage Student</p>
                <ul class='w-[100px] h-[35px] mt-4 flex justify-between'>
                    {
                        sosialLinks.map((link) => (
                            <li>
                                <a href={link.url} class='text-2xl'>
                                    <i class={link.icon} />
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </div>

            <div class='mt-6 mb-3 flex gap-14 md:!gap-14 justify-center'>
                {
                    birthday.map((birth) => (
                        <div class='flex flex-col items-center justify-center'>
                            <p class='text-2xl font-bold text-navy-700 dark:text-white'>
                                {birth.info}
                            </p>
                            <p class='text-sm font-normal text-gray-600'>
                                {birth.type}
                            </p>
                        </div>
                    ))
                }
            </div>
            <div class='flex justify-center mt-4 gap-3'>
                <div
                    class='flex items-center space-x-1.5 rounded-lg bg-blue-500 px-4 py-1.5 text-white duration-100 hover:bg-blue-600'>
                    <a href='/resumecv.pdf'>
                        <button class='text-sm'>Download CV</button></a
                    >
                    <i class='ri-download-2-line'></i>
                </div>
                {
                    messege.map((call) => (
                        <div class='flex items-center space-x-1.5 rounded-lg bg-slate-400 px-4 py-1.5 text-white duration-100 hover:bg-slate-600 cursor-pointer'>
                            <a href={call.url}>
                                <i class={call.icon} />
                            </a>
                        </div>
                    ))
                }
            </div>
            <div class='w-full max-w-sm rounded m-auto mt-5 flex flex-col'>
                <div
                    class='mx-8 shadow rounded-lg h-12 mt-4 gap-2 bg-slate-700 flex p-1 text-slate-300 relative items-center'>
                    <div class='w-full h-full rounded-lg flex justify-center'>
                        <button
                            class='w-full rounded-lg cursor-pointer hover:bg-slate-500 focus:bg-slate-500 bg-slate-500 text-slate-800'
                            data-target='#project'>Project</button
                        >
                    </div>
                    <div class='w-full h-full rounded-lg flex justify-center'>
                        <button
                            class='w-full rounded-lg cursor-pointer hover:bg-slate-500 focus:bg-slate-500 focus:text-slate-800'
                            data-target='#skill'>Skill</button
                        >
                    </div>
                </div>
            </div>
            <div
                class='grid grid-cols-1 px-4 gap-4 md:mt-8 md:grid-cols-3 mt-8'
                data-content
                id='project'>
                {
                    project.map((projects) => (
                        <div class='lg:flex'>
                            <img
                                class='object-cover w-full h-56 rounded-lg lg:w-64'
                                src={projects.image}
                                alt=''
                            />
                        </div>
                    ))
                }
            </div>
            <div class='hidden' data-content id='skill'>
                <div class='md:flex justify-around mt-20'>
                    <div class='flex flex-col w-full'>
                        <p
                            class='font-bold tracking-widest text-center text-lg'>
                            Frontend Developer
                        </p>
                        <div class='grid grid-cols-2 py-12 gap-4'>
                            {
                                frontend.map((frontends) => (
                                    <div class='flex gap-2 px-10'>
                                        <i class={frontends.icon} />
                                        <div class='flex-col leading-5'>
                                            <p class='font-medium'>
                                                {frontends.skill}
                                            </p>
                                            <p class='text-slate-500'>
                                                {frontends.level}
                                            </p>
                                        </div>
                                    </div>
                                ))
                            }
                        </div>
                    </div>

                    <div class='flex flex-col w-full'>
                        <p
                            class='font-bold tracking-widest text-center text-lg'>
                            Backend Developer
                        </p>
                        <div class='grid grid-cols-2 py-12 gap-4'>
                            {
                                backend.map((backends) => (
                                    <div class='flex gap-2 px-10'>
                                        <i class={backends.icon} />
                                        <div class='flex-col leading-5'>
                                            <p class='font-medium'>
                                                {backends.skill}
                                            </p>
                                            <p class='text-slate-500'>
                                                {backends.level}
                                            </p>
                                        </div>
                                    </div>
                                ))
                            }
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div
            class='mt-10 py-4 bg-gray-200 space-y-4 text-gray-600 text-center sm:-mb-8 rounded-md'>
            <p class='text-xs'>
                Copyrights &copy; <span id='copyright'></span> | all rights reserved
            </p>
        </div>
    </body>
</html>

<script>
    import '../js/main.js'
</script>
